* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #eee;
}

.App {
  text-align: center;
}

.App-header {
  size: 100px;
  margin: 2%;
}

.Code {
  width: 100%;
  height: 75vh;
  padding: 1%;
  resize: none;
  color: #eee;
  background-color: #111;
}

.Output {
  padding: 1%;
  background-color: #111;
}

.btn {
  border-radius: 100px;
}